{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}
{% set classes =
  [
    'pr-9',
    'py-2',
    'pl-2',
    'border',
    'w-full',
    'max-w-full',
    'border-grey-300',
    'text-grey-800/90',
    'text-sm',
    'bg-white',
    'appearance-none',
    'box-border',
    'rounded-none',
    'bg-origin-border',
    'bg-[url(../img/svg/icon-select-down--grey.svg)]',
    'bg-[right_0.5rem_center]',
    'bg-no-repeat',
    'bg-[length:1.5em_1.5em]',
    'cursor-pointer',
    'h-10',
  ]
%}

{% apply spaceless %}
  <select{{ attributes.addClass(classes) }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endapply %}
