{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set meta_attributes = create_attribute() %}
{% set link_attributes = create_attribute() %}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'md--col-span-7',
  ]
%}
{%
  set meta_classes = [
    'node__meta',
    'mt-2',
    'text-sm',
    'text-grey-700',
  ]
%}
{%
  set content_classes = [
    'flow-root',
    'text-formatted',
    'node__content',
  ]
%}
{%
  set link_classes = [
    'unit-button',
    'unit-button--outline',
  ]
%}
{% set date = node.createdtime|format_date('date_readable') %}
{% set firstname = node.Owner.field_user_first_name.value  %}
{% set lastname = node.Owner.field_user_last_name.value %}
{% set author_name = [firstname, lastname]|join(' ') %}

{% set internal_deadline = node.field_award_internal_deadline.0.value|default('') %}
{% set sponsor_deadline = node.field_award_sponsor_deadline.0.value|default('') %}
{% set sponsor_deadline_value = sponsor_deadline|date('U', 'America/Vancouver') %}
{% set internal_deadline_value = internal_deadline|date('U', 'America/Vancouver') %}
{% set today = now|date('U', 'America/Vancouver') %}

{# addresses certain special characters being stripped out or replaced in external URLs #}
{% if content.field_award_sponsor_url["#items"][0].isExternal() == true %}
  {% set link_url = content.field_award_sponsor_url.0['#url'].uri %}
{% else %}
  {% set link_url = paragraph.field_award_sponsor_url.0.url %}
{% endif %}
{% if content.field_award_application_form["#items"][0].isExternal() == true %}
  {% set application_link_url = content.field_award_application_form.0['#url'].uri %}
{% else %}
  {% set application_link_url = paragraph.field_award_application_form.0.url %}
{% endif %}
{% if content.field_award_guidlines_link["#items"][0].isExternal() == true %}
  {% set guidelines_link_url = content.field_award_guidlines_link.0['#url'].uri %}
{% else %}
  {% set guidelines_link_url = paragraph.field_award_guidlines_link.0.url %}
{% endif %}


<div class="grid grid-cols-1 gap-8 md--grid-cols-12">
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  {% if display_submitted %}
    <div{{ meta_attributes.addClass(meta_classes) }}>
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Posted on {{ date }}{% endtrans %}
      </div>
    </div>
  {% endif %}
  <div{{ content_attributes.addClass(content_classes) }}>
    {% if not node.isPublished() %}
      <div class="unpublished">Unpublished</div>
    {% endif %}
    {% if not (node.field_award_sponsor.isEmpty == true) and content.field_award_sponsor is defined %}
      <h2 class="h4 text-ubc-blue-sea">Sponsor</h2>
      <p class="mb-4">{{ content.field_award_sponsor.0 }}</p>
    {% endif %}
    {% if not (node.field_award_sponsor_deadline.isEmpty == true) and content.field_award_sponsor_deadline is defined %}
      <p class="mt-0"><strong>Sponsor deadline:</strong> {{ content.field_award_sponsor_deadline.0 }}</p>
    {% endif %}
    {% if not (node.field_award_internal_deadline.isEmpty == true) and content.field_award_internal_deadline is defined %}
      <p class="mt-0"><strong>Internal deadline:</strong> {{ content.field_award_internal_deadline.0 }}</p>
    {% endif %}
    <h2 class="h4 text-ubc-blue-sea">Award Details</h2>
    {{ content.body.0 }}
    {{ content|without('body', 'field_award_application_form', 'field_award_category', 'field_award_discipline', 'field_award_guidlines_link', 'field_award_internal_deadline', 'field_award_sponsor', 'field_award_sponsor_deadline', 'field_award_sponsor_url', 'field_career_stage', 'field_internal_processes_require', 'field_nomination_type', 'field_orpa_support', 'field_subdiscipline', 'links') }}
  </div>
</article>
<aside class="md--col-start-9 md--col-span-4">
  {% if sponsor_deadline_value > today or internal_deadline_value > today %}
    <p><strong>Award status:</strong> Open</p>
  {% endif %}
  {% if not (node.field_award_category.isEmpty == true) and content.field_award_category is defined %}
    <p><strong>Award category:</strong> {{ content.field_award_category.0 }}</p>
  {% endif %}
  {% if not (node.field_award_discipline.isEmpty == true) and content.field_award_discipline is defined %}
    <p><strong>Discipline:</strong> {{ content.field_award_discipline }}</p>
  {% endif %}
  {% if not (node.field_subdiscipline.isEmpty == true) and content.field_subdiscipline is defined %}
    <p><strong>Subdiscipline:</strong> {{ content.field_subdiscipline }}</p>
  {% endif %}
  {% if not (node.field_career_stage.isEmpty == true) and content.field_career_stage is defined %}
    <p><strong>Career stage:</strong> {{ content.field_career_stage }}</p>
  {% endif %}
  {% if not (node.field_nomination_type.isEmpty == true) and content.field_nomination_type is defined %}
    <p><strong>Nomination type:</strong> {{ content.field_nomination_type }}</p>
  {% endif %}
  {% if not (node.field_orpa_support.isEmpty == true) and content.field_orpa_support is defined %}
    <p><strong>ORPA support:</strong> {{ content.field_orpa_support }}</p>
  {% endif %}
  {% if not (node.field_award_sponsor_url.isEmpty == true) and content.field_award_sponsor_url is defined %}
    <p><a{{ link_attributes.addClass(link_classes) }}
      href="{{ link_url }}" aria-label="Sponsor page">Sponsor Page</a></p>
  {% endif %}
  {% if not (node.field_award_application_form.isEmpty == true) and content.field_award_application_form is defined %}
    <p><a{{ link_attributes.addClass(link_classes) }}
      href="{{ application_link_url }}" aria-label="Application Form">Application Form</a></p>
  {% endif %}
  {% if not (node.field_award_guidlines_link.isEmpty == true) and content.field_award_guidlines_link is defined %}
    <p><a{{ link_attributes.addClass(link_classes) }}
      href="{{ guidelines_link_url }}" aria-label="Award Guidelines">Award Guidelines</a></p>
  {% endif %}
</aside>
</div>
