{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set supporting_attributes = create_attribute() %}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{%
  set content_classes = [
    'flow-root',
    'text-formatted',
    'node__content',
  ]
%}
{%
  set title_classes = [
    'mt-0',
    'text-ubc-blue-sea',
  ]
%}
{%
  set supporting_classes = [
    'py-8',
    'sm--float-right',
    'sm--pl-8',
    'sm--pt-0',
    'sm--max-w-xs',
  ]
%}

{% if endvalue > startvalue %}
  {% set eventdate = startday ~ ' - ' ~ endday ~ ', ' ~ endyear %}
  {% set time = '' %}
{% endif %}
{% if endvalue == startvalue %}
  {% set eventdate = startday ~ ', ' ~ endyear %}
  {% set time = ', ' ~ starttime ~ ' to ' ~ endtime %}
{% endif %}
{% if endvalue is not defined or endvalue is null  %}
  {% set eventdate = startday ~ ', ' ~ startyear %}
  {% set time = ', ' ~ starttime %}
{% endif %}
{% if node.field_event_is_ongoing.value  %}
  {% set eventdate = 'Ongoing event' %}
  {% set time = '' %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(content_classes) }}>
    {% if not node.isPublished() %}
      <div class="unpublished">Unpublished</div>
    {% endif %}
    {% if not (node.field_event_category.isEmpty == true) and content.field_event_category is defined %}
      <p class="text-sm text-grey-700">{{ content.field_event_category.0 }}</p>
    {% endif %}
    {{ title_prefix }}
      <h1{{ title_attributes.addClass(title_classes) }}>
        {{ label }}
      </h1>
    {{ title_suffix }}
    {% if not (node.field_event_date.isEmpty == true) and content.field_event_date is defined %}
      <h2 class="mt-0 font-sans font-normal h4">{{ eventdate }}{{ time }}</h2>
    {% endif %}
     {% if not (node.field_event_location.isEmpty == true) and content.field_event_location is defined %}
      <div class="mt-2 text-sm text-grey-700">
        {{ content.field_event_location.0.address_line1 }}
        {% if not (node.field_event_location.0.address_line2.isEmpty == true) %}
        {{ content.field_event_location.0.address_line2 }}
        {% endif %}
      </div>
      {% endif %}
      {% if not (node.field_event_supporting.isEmpty == true) and content.field_event_supporting is defined %}
      <div{{ supporting_attributes.addClass(supporting_classes) }}>
        {{ content.field_event_supporting.0 }}
      </div>
    {% endif %}
    {% if content.google_cal_link is defined %}
    <div class="pt-6 dropdown">
      <button class="inline-flex p-2 text-white cursor-pointer bg-ubc-blue hover--bg-ubc-blue-sea" data-bs-toggle="dropdown" aria-expanded="false">Add to calendar
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6 ml-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ content.google_cal_link }}" target="_blank" class="block px-1 py-2 no-underline hover--bg-grey-100">Google Calendar</a>
        </li>
        <li>
          <a href="{{ content.ical_link }}" class="block px-1 py-2 no-underline hover--bg-grey-100">iCal</a>
        </li>
        <li>
          <a href="{{ content.outlook_link }}" class="block px-1 py-2 no-underline hover--bg-grey-100">Outlook</a>
        </li>
      </ul>
    </div>
    {% endif %}

    {{ content|without('field_event_date', 'field_event_link', 'field_event_location', 'links', 'field_event_tags', 'field_event_category', 'field_event_supporting', 'google_cal_link', 'ical_link', 'outlook_link') }}

    {% if not (node.field_event_link.isEmpty == true) and content.field_event_link is defined %}
    <p>
      <a href="{{ content.field_event_link[0]['#url'] }}" class="unit-button" target="_blank">{{ content.field_event_link[0]['#title'] }}</a>
    </p>
    {% endif %}
  </div>
  <hr class="styled-hr">
  <div class="flex flex-wrap mt-4 tags">
    {{ content.field_event_category }} {{ content.field_event_tags }}
  </div>
</article>
