{% extends "page.html.twig" %}

{% block clftop %}{% endblock clftop %}

{% block unitcontent %}
{{ attach_library('kraken/drupal-login') }}
<main id="unit-content" class="w-screen h-screen px-2 py-10 bg-ubc-blue">
  <div class="px-16 py-8 mx-auto rounded shadow-lg bg-grey-50 sm--max-w-md">
    <h1 class="pb-4 mt-10 text-2xl font-normal text-grey-500">{{ unit_name }}: register</h1>
    <div>
      <div{{ main_content_attributes.setAttribute('id', 'main-content') }}>
        <section class="section">
          {% if page.highlighted %}
          <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}
          {% if page.help %}
          <div id="help-region">{{ page.help }}</div>
          {% endif %}
          {{ page.content }}
        </section>
      </div>
    </div>
  </div>
</main>
{% endblock unitcontent %}

{% block clfbottom %}{% endblock clfbottom %}

{% block svg %}
{% endblock svg %}
