{% extends "page.html.twig" %}

{% block clftop %}{% endblock clftop %}

{% block unitcontent %}
{{ attach_library('kraken/drupal-login') }}
<main id="unit-content" class="w-screen h-screen px-2 py-10 bg-ubc-blue">
  <div class="px-16 py-8 mx-auto rounded shadow-lg bg-grey-50 sm--max-w-md">
    <h1 class="pb-4 mt-10 text-2xl font-normal text-grey-500">Sign in</h1>
    {% if cwl_option %}
    <a href="/saml_login?destination=user" class="text-lg rounded-sm unit-button unit-button--dark unit-button--block cwl-login">Sign in with CWL</a>
    <p class="pb-8 text-base help-block text-grey-500">Sign into {{ unit_name }} using your UBC Campus Wide Login (CWL) account. You will be taken to another service to enter your credentials and then returned to this site.</p>
    <hr class="mb-8 border-b" />
    <h2 class="pb-4 text-lg font-normal text-grey-500">{{ unit_name }}: login</h2>
    {% endif %}
    <div>
      <div{{ main_content_attributes.setAttribute('id', 'main-content') }}>
        <section class="section">
          {% if page.highlighted %}
          <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}
          {% if page.help %}
          <div id="help-region">{{ page.help }}</div>
          {% endif %}
          {{ page.content }}
        </section>
      </div>
    </div>
  </div>
</main>
{% endblock unitcontent %}

{% block clfbottom %}{% endblock clfbottom %}

{% block svg %}
{% endblock svg %}
